.App {
  text-align: center;
}

.App-header {
  background-color: transparent;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div.social-container{
  background-color: transparent;
  width: 460px;
  margin-bottom: 20px;
  margin-top: 5px;
}

div.container {
  border-radius: 15px;
  background-color: #f4f9fb;
  padding: 30px;
  margin: 0 auto 0 auto;
  width: 400px;
  height: 380px;
}

input.box {
  margin-left: -5px;
  margin-right: 10px;
  height: 20px;
  width: 340px;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(0, 174, 69, 0.31);
  border-color: transparent;
  font-family: "distant-galaxy";
}

h3 {
  color: black;
  padding: 4px 30px;
  font-family: "star-jedi";
  text-align: left;
  font-size: 24px;
  margin: 1px;
  text-shadow: -1px 0 #24e013, 0 1px #24e013, 1px 0 #24e013, 0 -1px #24e013;
}

input[type="text" i] {
  padding: 2px 2px;
  background: rgba(0, 174, 69, 0.31);
  margin-top: -5px;
  font-family:"arial-black";
}
input[type="password" i] {
  -webkit-text-security: disc !important;
  padding: 4px 2px;
  background: rgba(0, 174, 69, 0.31);
  font-family:"arial-black";
  margin-top: -5px;
  height: 20px;
  width: 340px;
}
.babyYoda {
  margin-top: -30px;
  width: 150px;
}

.bbEight {
  margin-top: -30px;
  width: 300px;
}
.footerIcon {
  width: 100px;
  margin-top: 1px;
  }

  .galaxy {
    width: 100px;
    margin-top: -20px;
    }

button {
  background: black;
  color: white;
  font-family: star-jedi;
  font-size: 12px;
  width: 130px;
  height: 40px;
  border-radius: 15px;
  margin: 20px;
}


.App-footer {
  background-color: transparent;
  align-items: center;
  justify-content: center;
  font-family:"star-jedi";
  color: white;
  font-size: 8px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px
}

div.footer-container{
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family:"star-jedi";
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px
  }

p.footer {
  font-size: 8px;

}



@font-face {
  font-family: "star-jedi";
  src: url("../Fonts/Starjedi.ttf");
}

@font-face {
  font-family: "arial-black";
  src: url("../Fonts/ariblk.ttf");
}
